*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background-image: linear-gradient(rgba(172, 153, 255, 0.65), rgba(29, 6, 205, 0.65)), url("https://img.itch.zone/aW1hZ2UvMTIxNjU4LzU2MDQxMC5wbmc=/original/hCUwLQ.png");
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    margin: 0 auto;  
}
.logo{

    width: 700px;
    height: 500vh;
    background-image: url('logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;  
    animation: bobbing 2s infinite;
}

nav{
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

body{
    overflow-x: hidden; /* Hides the horizontal scrollbar */
    width: 100%;       
    background-color: black;
}

nav ul{
    transform: translateY(30px);
    list-style: none;
    width: 100%; 
    text-align: center;
    gap: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav ul li{
 display: inline-block;
 margin: 10px 20px;
}

nav ul li a{
 text-decoration: none;
 font-size: 30px;
 font-family: 'Pixelify Sans', sans-serif;
 transition: color 0.3s ease-in-out, font-size 0.3s ease-in-out;   
    cursor: pointer; /* Changes cursor to a hand icon */
    color: white;

}

nav ul li a:hover{
    font-size: 50px;
    color: rgb(255, 126, 126);
}

nav ul li a:active{
    color: rgb(255, 255, 255);
    font-size: 40px;
}

.content{
    transform: translateY(100px);
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-family: 'Doto', sans-serif;
    font-size: 15px;
    list-style: column;
    transition: text-shadow 0.3s ease-in-out;
    gap: 200px;
    display: inline-block;
    
}

.contentLink{
    transform: translateY(100px);
    text-decoration: none;
    color: white;
    font-family: 'Doto', sans-serif;
    font-size: 15px;
    list-style: column;
    transition: text-shadow 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.396);
    padding: 10px 20px;
    border: 2px solid rgba(172, 153, 255);
    border-radius: 5px;
    box-shadow: rgba(172, 153, 255, 0.396) 0px 2px 4px, rgba(0, 0, 0, 0.396) 0px 2px 8px; 
}

.content:hover{
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
}

.contentLink:hover{
    text-shadow: 2px 2px 4px rgb(255, 255, 255);
    border: 2px solid rgb(255, 126, 126);
    box-shadow: rgba(255, 126, 126) 0px 2px 4px, rgba(255, 126, 126) 0px 2px 8px;
    cursor: pointer;
}

.input[type=text], textarea {
    transform: translateY(-30px);
    background-color: rgba(0, 0, 0, 0.396);
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid rgba(172, 153, 255);
    border-radius: 5px;
    color: white;
    font-family: 'Doto', sans-serif;
    size: 20px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.396) 0px 2px 4px, rgba(0, 0, 0, 0.396) 0px 2px 8px;
    transition: border 0.3s ease-in-out, width 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

input[type=text]:focus, textarea:focus {
    border: 2px solid rgb(255, 126, 126);
    width: 120%;
    box-shadow: rgba(255, 126, 126) 0px 2px 4px, rgba(255, 126, 126) 0px 2px 8px;
    outline: none;
}

#MyCanvas{
    left: 35%;
    transform: translateX(35%) translateY(-340px);
    border: 2px solid rgba(172, 153, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.396) 0px 2px 4px, rgba(0, 0, 0, 0.396) 0px 2px 8px;
    background-color: rgba(172, 153, 255, 0.862);
}

.exportButton{
    transform: translateY(250px) translateX(600px);
    padding: 10px 20px;
    font-size: 20px;
    font-family: 'Doto', sans-serif;
    color: white;
    background-color: rgba(0, 0, 0, 0.396);
    border: 2px solid rgba(172, 153, 255);
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.396) 0px 2px 4px, rgba(0, 0, 0, 0.396) 0px 2px 8px;
    animation : bobbingExport 2s infinite;
}

.exportButton:hover{
    border: 2px solid rgb(255, 126, 126);
    box-shadow: rgba(255, 126, 126) 0px 2px 4px, rgba(255, 126, 126) 0px 2px 8px;
    cursor: pointer;
}

.exportButton:active{
    background-color: rgba(255, 126, 126, 0.396);
    box-shadow: rgba(255, 126, 126) 0px 1px 2px, rgba(255, 126, 126) 0px 1px 4px;
}
@keyframes bobbing {
    0%, 100% {
        transform: translateY(30px);
    }
    50% {
        transform: translateY(70px);
    }
}

@keyframes bobbingExport {
    0%, 100% {
        transform: translateY(270px) translateX(600px);
    }
    50% {
        transform: translateY(250px) translateX(600px);
    }
}